body{
    background-image: url("Assets/thomas2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #8FBC70;
    background-position: center center;
    margin: 0%;
    overflow: hidden;
}

.head{
    margin: 0% 0% 2% 0%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 10px;
    border-color: #006060;
    /*margin-top: 5%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 2%;*/
    padding-right: 0%;
    padding-left: 0%;
    background-color: azure;
    opacity: 1;
    text-align: center;
}

.inLine{
	display: inLine;
}

.logo{
	position: fixed;
	width: 11vh;
	height: 1.27*width;
	padding-left: 0vw;
	padding-right: 0%;
	margin-left: 0%;
	top: 86.03vh;
}

.title{
	margin:auto;
	padding: 1% 0% 1% 0%;
	font-size: 10vh;
	color: DarkSlateGray;
}

.mgmt,
.button{
    position: fixed;
    border: 4px solid DarkSlateGray;
    border-radius: 8px;
    margin-top: 10%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 2%;
    background-color: azure;
    padding-top:0%;
    opacity: 1;
    text-align: center;  
    float:right; 
}

.button{
    height: 11vw;
    width: 22vw;
}

.mgmt{
	height: 7vw;
	width: 13vw;
	font-size: 18pt;
}

.b1{
	margin-left: 23vw;
}

.b2{
	margin-left: 55vw;
}

h2{
	color: DarkSlateGray;
	margin-top:5%;
}

.button:hover{
	background-color: #8FBC70;	
}


.m1{
	margin-left:8vw;
}

.m2{
	margin-left:30vw;
}

.m3{
	margin-left:50vw;
}

.m4{
	margin-left:70vw;
}






